body {
    font-size: 16px;
    color: black;
    background-color: #F8F0E5;
    font-family: 'Oxygen', sans-serif;
}

#header-nav {
    background-color: #EADBC8;
    border: 0;
    border-radius: 0;

}

.navbar-brand h1 {
    color: #102C57;
    text-transform: uppercase;
    font-weight: bold;

}

.navbar-brand a {
    text-decoration: none;
}

.navbar-toggler {
    float: right;
}

@media (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }
}

